<div ng-show="loaded">
    <h1>Welcome {{guest.name}}!</h1>
    <h2>Information:</h2>
    <br>
    <p>
    When: July 25, 2015<br>
    Time: 3:00 PM<br>
    Where: Artscape Gibraltar Point<br>
    How: Arrive at 230 Queens Quay W to catch the private ferry<br>
    </p>
    <hr>
    <button ng-show="guest.rsvp == 'pending'" ng-click="guest.rsvp = 'accepted'; save(guest);editMessage=true">
        <h2>Accept</h2>
    </button>
    <button ng-show="guest.rsvp == 'pending'" ng-click="guest.rsvp = 'declined'; save(guest);editMessage=true">
        <h2>Decline</h2>
    </button>
    <div ng-show="guest.rsvp != 'pending'">
        <h2>Thank you!</h2>
        <button ng-show="!!guest.message.length || !editMessage" ng-click="editMessage=true">View guestbook</button>
        <div ng-hide="!!guest.message.length && !editMessage">
            <textarea ng-model="guest.message" placeholder="Leave a message..">
                
            </textarea>
            <br>
            <button ng-click="save(guest); editMessage=false">
                Send
            </button>
        </div>
    </div>
    <hr>
	<form ng-submit="member(newMember)">
		<input class="inputs" ng-model="newMember" ng-focus="newMemberPh = ''" 
		ng-blur="newMemberPh = 'Add a member to your party..'" placeholder="{{newMemberPh}}">
	</form>
    <span style="float:left">Additional guests:</span>
    <table>
    <thead>
    	<tr>
    		<th>Name</th>
    		<th>Status</th>
    	</tr>
    </thead>
    <tbody>
    	<tr ng-repeat="member in guest.party">
    		<td>{{member.name}}</td>
    		<td>{{member.status}}</td>
    	</tr>
    </tbody>
    </table>
</div>
