@import url("http://fonts.googleapis.com/css?family=Poiret+One");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
body {
  background-color: #f5deb3;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica';
}
.container {
  padding-top: 50px;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  font-size: 3em;
  font-family: 'Poiret One';
}
h2 {
  font-size: 2em;
  font-family: 'Poiret One';
}
a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: #f878f8;
}
.totals {
  float: left;
  text-align: left;
  margin: 10px;
}
.totals span {
  display: inline-block;
}
.totals span {
  padding: 4px;
}
.inputs {
  float: right;
}
.inputs input {
  display: inline block;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  border: 1px solid;
  padding: 5px;
  margin: 10px;
  font-size: 1.1em;
}
.inputs input::-webkit-input-placeholder {
  color: #fff;
}
.inputs input:-moz-placeholder {
  color: #fff;
}
.inputs input::-moz-placeholder {
  color: #fff;
}
.inputs input:-ms-input-placeholder {
  color: #fff;
}
textarea {
  margin-top: 20px;
  background-color: rgba(0,0,0,0.5);
  color: #fff;
  width: 80%;
  height: 300px;
  font-size: 1.15em;
  padding: 20px;
}
table {
  width: 100%;
  padding: 50px;
}
th {
  font-weight: bold;
}
th:first-child {
  text-align: left;
}
td:nth-child(2),
th:nth-child(2),
td:nth-child(3),
th:nth-child(3),
td:nth-child(4),
th:nth-child(4) {
  text-align: center;
}
td:last-child,
th:last-child {
  float: right;
}
td {
  padding-top: 10px;
}
.outer-box {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}
.inner-box {
  width: 500px;
  height: 425px;
  padding: 20px;
  background-color: rgba(0,0,0,0.8);
  border: 2px solid #fff;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
